body {
  margin: 5px;
  font-family: 'kalam';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	grid-gap: 19px;
}

.container > .card img {
	max-width: 100%;
}